{% extends 'base.html' %}

{% block title %} | User Page {% endblock %}

{% block content %}

{% include  'patient/p_base.html' %}

<table class=" mt-5 table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Consulted Doctor</th>
      <th scope="col">Date and Time</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
  {% for i in appointments %}
    <tr>
      <td>{{i.doctor}}</td>
      <td>{{i.date}}</td>
      <td>{{i.status}}</td>
    </tr>
   {% endfor %}
  </tbody>
</table>

{% endblock %}