{% extends 'base.html' %}

{% block title %} | User Page {% endblock %}

{% block content %}
{% include  'patient/p_base.html' %}
<div class="container">
    {%for i in prescriptions%}
    <div class="card">
        <h5 class="card-header bg-light">{{ i.date }}</h5>
        <div class="card-body">
            <h5 class="card-title">Consulted Doctor : {{i.doctor.person.user.username}}</h5>
            <p class="card-text">
            <p>Disease : {{i.disease}}</p>
            <p>Prescription by doctor : {{i.prescription}}</p>
            </p>
        </div>
        {% endfor %}
    </div>
{% endblock %}