<nav class="navbar navbar-light navbar-expand-md" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="#">HMS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'd_appointment' %}">Appointments</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'prescription' %}">Prescriptions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'd_profile' %}">Profile</a>
            </li>
            <li class="nav-item mr-3">
                <a href="javascript:{document.getElementById('logout').submit()}" class="nav-link">Logout</a>
                <form action="{% url 'logout' %}" method="POST" id="logout">
                    {% csrf_token %}
                    <input type="hidden">
                </form>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login'  %}">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'Register' %}">Register</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>